<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to entries_path, class: "navbar-brand" do %>
        INVEST<span class="orange">DEX</span> <span class="black">SEARCH</span>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <%= form_tag entries_path, method: :get, class: "navbar-form navbar-left" do %>
      <div class="form-group">
        <%= text_field_tag :query, params[:query] %>
        <%= check_box_tag(:data_heavy) %>
        <%= label_tag(:data_heavy) %>
      </div>
      <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
    <% end %>
    <%- if user_signed_in? %>
      <p class="navbar-text navbar-right">You are logged in as <%= current_user.email %>.</p>
    <%- else %>
      <p class="navbar-text navbar-right">You are not logged in.</p>
    <%- end %>
    </div>
  </div>
</nav>

